server:
  port: 9090
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/back-stage-management?characterEncoding=utf-8&useSSL=false

#    日期格式化
  jackson:
    date-format: yyyy-MM-dd
